<div class="landingpage-div">
    <h1 class="welcome">Welcome To The Stocks Dashboard!</h1>
    <h2 class="welcome-caption">Create an account or login to select, add, and view stocks that you want to follow.</h2>

    <div class="landing-buttons">
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
    </div>
</div>