<p>You are not logged in. Please log in or register.</p>

{{!-- <ul>
    <li><a href = "/">Home</a></li>
    <li><a href = "/login">Login</a></li>
    <li><a href = "/register">Register</a></li>
</ul> --}}

<div>
    <a href = "/">Home</a> |
    <a href = "/login">Login</a> |
    <a href = "/register">Register</a>
</div>
